.marker-map {
    width: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 2px solid seashell;
    background-color: seashell;
    color: #000;
    font-size: 14px;
}
.marker-map.marker-place {
    background-color: rgb(40, 36, 117);
    color: #fff;
    font-weight: bold;
}